.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: darkblue;
  margin: 20px;
  padding: 10px;
  color: white;
  border-radius: 10px;

  div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }

  h4 {
    font-size: 1.25em;
    margin-right: 20px;
  }

  p {
    font-size: 1em;
    text-transform: capitalize;
  }
}

@media (max-width: 550px) {
  .card {
    h4 {
      font-size: 1em;
    }

    p {
      font-size: 0.8em;
    }
  }
}

@media (max-width: 400px) {
  .card {
    h4 {
      font-size: 0.65em;
    }

    p {
      font-size: 0.5em;
    }
  }
}